aioboto3
botocore
geopandas
matplotlib
git+https://github.com/motional/nuplan-devkit.git
numpy
opencv-python-headless
pandas
pillow
psutil
pyarrow
pyquaternion
pyyaml
rasterio
requests
retry
scipy
shapely
tqdm
pytest
